%h1= "Title: #{@meal.title}"
%h2= "Price: #{number_to_currency @meal.price}"
%h3= "Made by: #{@meal.user.first_name}"

- if meal_unordered?(@meal)
  = button_to 'Order This Meal', meal_orders_path(@meal, order: {notes: "No Cheese"}), method: :post
- else
  You've successfully ordered this meal!
