%h1
  Dashboard
  |
  = @meal.title

%hr
.col-md-10
  %h2 Customers
  %h3
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Date
      %tbody
        - @orders.each do |order|
          %tr
            %td= "#{order.user.first_name} #{order.user.last_name}"
            %td= order.user.email
            %td= order.created_at
%hr

.col-md-10
  %h2 Revenue
  %h3
    %table.table.table-hover
      %thead
        %tr
          %th Order Count
          %th Total Revenue
      %tbody
        %tr
          %td= @orders.count
          -# TODO create helper methods for thes
          %td= number_to_currency @orders.count * @meal.price
